<!-- app/views/admin/articles/new.html.erb -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-10 mx-auto">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to "Dashboard", admin_root_path %>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Nouvel article
          </li>
        </ol>
      </nav>

      <h1 class="mb-4">Créer un article</h1>

      <%= render 'form' %>

    </div>
  </div>
</div>
