// app/assets/stylesheets/components/_index.scss

// Import components
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "buttons";
@import "cards";
@import "forms";
@import "banner";
@import "footer";
@import "sections";
@import "carousel";
@import "candidates";
